/* Page container */
.login-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

/* Login card */
.login-box {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Heading */
.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0f172a;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 16px; /* prevents mobile zoom */
  border-radius: 6px;
  border: 1px solid #cbd5f5;
}

/* Button */
.login-box button {
  width: 40%;
  font-weight: 600;
  padding: 12px;
  font-size: 16px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-box button:hover {
  background: #4338ca;
}
.register-link span{
  margin-top: 15px;
  font-size: 14px;
  color: blue;
  cursor: pointer;
}
/* Error message */
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

/* Mobile adjustments */
@media (max-width: 480px) {
  .login-box {
    padding: 18px;
    border-radius: 8px;
  }

  .login-box h2 {
    font-size: 20px;
  }
}
